.threeColumns {
    padding:10px;
    height: 70;
    text-align: center;
    font-family: fantasy;
    color: black;
    font-size:35;
    background-color: white;
    border-radius: 10px;
    
}
.threeColumns2 {
    margin-top: 10px;
    padding:40px;
    height: 800;
    text-align: center;
    font-family: fantasy;
    color: black;
    font-size:35;
    background-color: rgb(201, 201, 201);
    border-radius: 10px;

    
}
#personalBox {
    height:75%;
}
#schoolBox {
    height:75%;

}
#goalsBox {
    height:75%;
    z-index: 3;

}
.rows{
    margin-top: 40px;
    box-shadow: -0.5px 2px 1px black;
    border-radius: 10px;
    background-color: white;
    font-family: University;
    font-size: 25;

}
@font-face{
    font-family: University;
    src: url(University.otf);
}
@font-face{
    font-family: Outrun;
    src: url(Outrun.otf);
}
@font-face{
    font-family: LadyFiesta;
    src: url(ladyfiesta.ttf);
}
table,th,td {
    margin: 0 auto;
    border: 1px solid black;
    padding: 6;
}

    

    
   
    
    
   
    
